<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinxin.mapper.DetailMapper">
    <!--// 联表查询，house_rent和house的所有数据-->
    <!--public ViewDetailHouseRent getAllDataByHouseRentRid(@Param("rid") int rid);-->
    <select id="getAllDataByHouseRentRid" resultType="viewHouseDetail">
        select * from house_rent r left outer join house h on h.hid = r.hid where r.rid=#{rid}
    </select>
</mapper>