<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinxin.mapper.HouseRentMapper">

    <resultMap id="viewDetailHouseRentResultMap" type="viewDetailHouseRent">
        <id property="rid" column="rid"/>
        <result property="hid" column="hid"/>
        <result property="cid" column="custom_uid"/>
        <result property="rentTitle" column="rent_title"/>
        <result property="rentContent" column="rent_content"/>
        <result property="month" column="month"/>
        <result property="monthMoney" column="month_money"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="houseStatus" column="house_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="customName" column="user_name"/>
    </resultMap>


    <!--public List<ViewHouseRent> getHouseRentByPaging();-->
    <select id="getHouseRentByPaging" resultMap="recommendRentHouseResultMap">
        select * from house_rent left join house on house.hid = house_rent.hid where allow_hidden != 1 limit #{offset},#{pageSize}
    </select>



    <!--public List<HouseRent> getRecommendHouseRent(@Param("offset")int offset, @Param("pageSize") int pageSize);-->
    <resultMap id="recommendRentHouseResultMap" type="viewHouseRent">
        <id property="rid" column="rid"/>
        <result property="hid" column="hid"/>
        <result property="rentTitle" column="rent_title"/>
        <result property="monthMoney" column="month_money"/>
        <result property="address" column="address"/>
        <result property="houseStatus" column="house_status"/>
        <result property="allowHidden" column="allow_hidden"/>
        <result property="allowDelete" column="allow_delete"/>
        <association property="houseTags"
                     select="com.xinxin.mapper.HouseTagMapper.getHouseTagByHidAndTwo"
                     column="hid"
                     fetchType="eager"
        />
    </resultMap>

    <select id="getRecommendHouseRent" resultMap="recommendRentHouseResultMap">
        select * from house_rent left join house on house.hid = house_rent.hid where allow_hidden !=1 limit 6
    </select>

    <!--public int getFavoriteFidByRid(@Param("rid") int rid);-->
    <select id="getFavoriteFidByRid" resultType="integer">
        select ifnull(fid,0) from favorite where rid=#{rid} and uid=#{uid}
    </select>



    <!--// 根据uid查询租赁信息-->
    <!--public List<ViewHouseRent> getMyHouseRentById(@Param("uid") int uid,@Param("type") int type);-->
    <select id="getMyHouseRentById" resultMap="recommendRentHouseResultMap">
        select * from house_rent r left join house h on h.hid = r.hid where h.uid=#{uid} and r.house_status = #{type}
    </select>

    <!--// 根据custom_uid查询租赁信息-->
    <!--public List<ViewHouseRent> getMyHouseRentByCustomId(@Param("cid") int cid);-->
    <select id="getMyHouseRentByCustomId" resultMap="recommendRentHouseResultMap">
        select * from house_rent h where custom_uid=#{cid}
    </select>

    <!--
        // 根据rid查询所有数据
        public ViewDetailHouseRent getMyHouseRentDetail(@Param("rid") int rid);
    -->
    <select id="getMyHouseRentDetail" resultMap="viewDetailHouseRentResultMap">
        select r.*,u.user_name from house_rent r left join user u on r.custom_uid=u.uid where r.rid=#{rid}
    </select>

    <!--// 修改出租信息-->
    <!--public int updateMyHouseRent(ViewDetailHouseRent viewDetailHouseRent);-->
    <update id="updateMyHouseRent" parameterType="viewDetailHouseRent">
        update house_rent set rent_title=#{rentTitle},rent_content=#{rentContent},month=#{month},month_money=#{monthMoney},contact_name=#{contactName},contact_phone=#{contactPhone},update_time=#{updateTime} where rid=#{rid}
    </update>

    <!--public List<ViewHouseRent> conditionsSearch(ConditionsSearch conditionsSearch);-->
    <select id="conditionsSearch" resultMap="recommendRentHouseResultMap">
        select * from house_rent left join house h on h.hid = house_rent.hid
        <where>
            <if test="selectCityName !=''">
                city = #{selectCityName}
            </if>
            <if test="address!=''" >
               and address like '%${address}%'
            </if>
            <if test="priceStart!='' and priceEnd!=''">
               and  month_money between #{priceStart} and #{priceEnd}
            </if>
        </where>
    </select>
</mapper>
